<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>45108690649-ta3tqu7nq6qv4evhcs0bj8g040quhqs6.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.45108690649-ta3tqu7nq6qv4evhcs0bj8g040quhqs6</string>
	<key>API_KEY</key>
	<string>AIzaSyAtKhLiZK7h5Gn5HT4mp2wCY24En3BitZY</string>
	<key>GCM_SENDER_ID</key>
	<string>45108690649</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.lunchbox.Mealagram</string>
	<key>PROJECT_ID</key>
	<string>mealagram</string>
	<key>STORAGE_BUCKET</key>
	<string>mealagram.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:45108690649:ios:a3d780c839bddaa2eec8c8</string>
</dict>
</plist>
